@keyframes up_and_down {
    0% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0px);
    }
}

.pixel-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.pixel-loader {
    width: 430px;
    height: 370px;
    outline: 5px solid white;
    position: relative;
    zoom: 0.45;
    background-image: linear-gradient(skyblue, springgreen);
    box-shadow:
        inset 4px 4px 12px #0004,
        inset -4px -4px 12px #0004;
    transform: rotate(-8deg);
    overflow: hidden;
    cursor: pointer;
}

.pixel-loader:hover .pixel {
    animation-play-state: paused;
}

.pixel {
    width: 10px;
    height: 10px;
    --shadow:     0px 0px transparent, 10px 0px transparent, 20px 0px transparent,
    30px 0px transparent, 40px 0px transparent, 50px 0px transparent,
    60px 0px transparent, 70px 0px transparent, 80px 0px transparent,
    90px 0px transparent, 100px 0px transparent, 110px 0px transparent,
    120px 0px transparent, 130px 0px transparent, 140px 0px transparent,
    150px 0px transparent, 160px 0px transparent, 170px 0px transparent,
    180px 0px transparent, 190px 0px transparent, 200px 0px transparent,
    210px 0px transparent, 220px 0px transparent, 230px 0px transparent,
    240px 0px transparent, 250px 0px transparent, 260px 0px transparent,
    270px 0px transparent, 280px 0px transparent, 290px 0px transparent,
    300px 0px transparent, 310px 0px transparent, 320px 0px transparent,
    330px 0px transparent, 340px 0px transparent, 350px 0px transparent,
    360px 0px transparent, 370px 0px transparent, 380px 0px transparent,
    390px 0px transparent, 400px 0px transparent, 410px 0px transparent,
    420px 0px transparent, 0px 10px transparent, 10px 10px transparent,
    20px 10px transparent, 30px 10px transparent, 40px 10px transparent,
    50px 10px transparent, 60px 10px transparent, 70px 10px transparent,
    80px 10px transparent, 90px 10px transparent, 100px 10px transparent,
    110px 10px transparent, 120px 10px transparent, 130px 10px transparent,
    140px 10px transparent, 150px 10px transparent, 160px 10px transparent,
    170px 10px transparent, 180px 10px transparent, 190px 10px transparent,
    200px 10px transparent, 210px 10px transparent, 220px 10px transparent,
    230px 10px transparent, 240px 10px transparent, 250px 10px transparent,
    260px 10px transparent, 270px 10px transparent, 280px 10px transparent,
    290px 10px transparent, 300px 10px #3c3c3c, 310px 10px #3c3c3c,
    320px 10px transparent, 330px 10px transparent, 340px 10px transparent,
    350px 10px #883f5a, 360px 10px #883f5a, 370px 10px #883f5a,
    380px 10px #883f5a, 390px 10px transparent, 400px 10px transparent,
    410px 10px transparent, 420px 10px transparent, 0px 20px transparent,
    10px 20px transparent, 20px 20px transparent, 30px 20px transparent,
    40px 20px #883f5a, 50px 20px #883f5a, 60px 20px #883f5a, 70px 20px #883f5a,
    80px 20px #883f5a, 90px 20px transparent, 100px 20px transparent,
    110px 20px transparent, 120px 20px transparent, 130px 20px transparent,
    140px 20px transparent, 150px 20px transparent, 160px 20px transparent,
    170px 20px #3c3c3c, 180px 20px #3c3c3c, 190px 20px transparent,
    200px 20px transparent, 210px 20px transparent, 220px 20px transparent,
    230px 20px transparent, 240px 20px transparent, 250px 20px transparent,
    260px 20px transparent, 270px 20px transparent, 280px 20px transparent,
    290px 20px transparent, 300px 20px #3c3c3c, 310px 20px #3c3c3c,
    320px 20px #3c3c3c, 330px 20px transparent, 340px 20px #883f5a,
    350px 20px #fa9ecf, 360px 20px #fa9ecf, 370px 20px #fa9ecf,
    380px 20px #fa9ecf, 390px 20px #883f5a, 400px 20px transparent,
    410px 20px transparent, 420px 20px transparent, 0px 30px transparent,
    10px 30px transparent, 20px 30px #883f5a, 30px 30px #883f5a,
    40px 30px #fa9ecf, 50px 30px #fa9ecf, 60px 30px #fa9ecf, 70px 30px #883f5a,
    80px 30px #883f5a, 90px 30px transparent, 100px 30px transparent,
    110px 30px transparent, 120px 30px transparent, 130px 30px transparent,
    140px 30px transparent, 150px 30px #883f5a, 160px 30px #3c3c3c,
    170px 30px #3c3c3c, 180px 30px #3c3c3c, 190px 30px transparent,
    200px 30px transparent, 210px 30px transparent, 220px 30px transparent,
    230px 30px transparent, 240px 30px transparent, 250px 30px transparent,
    260px 30px transparent, 270px 30px transparent, 280px 30px #883f5a,
    290px 30px #883f5a, 300px 30px #883f5a, 310px 30px #883f5a,
    320px 30px #3c3c3c, 330px 30px #3c3c3c, 340px 30px #fa9ecf,
    350px 30px #fa9ecf, 360px 30px #883f5a, 370px 30px #883f5a,
    380px 30px #fa9ecf, 390px 30px #883f5a, 400px 30px transparent,
    410px 30px transparent, 420px 30px transparent, 0px 40px transparent,
    10px 40px transparent, 20px 40px #883f5a, 30px 40px #fa9ecf,
    40px 40px #fa9ecf, 50px 40px #fa9ecf, 60px 40px #fa9ecf, 70px 40px #fa9ecf,
    80px 40px #fa9ecf, 90px 40px #883f5a, 100px 40px transparent,
    110px 40px transparent, 120px 40px transparent, 130px 40px transparent,
    140px 40px #883f5a, 150px 40px #3c3c3c, 160px 40px #3c3c3c,
    170px 40px #883f5a, 180px 40px #883f5a, 190px 40px #883f5a,
    200px 40px #883f5a, 210px 40px transparent, 220px 40px transparent,
    230px 40px transparent, 240px 40px transparent, 250px 40px transparent,
    260px 40px transparent, 270px 40px #883f5a, 280px 40px #fa9ecf,
    290px 40px #fa9ecf, 300px 40px #fa9ecf, 310px 40px #fa9ecf,
    320px 40px #883f5a, 330px 40px #3c3c3c, 340px 40px #fa9ecf,
    350px 40px #883f5a, 360px 40px #f1d5eb, 370px 40px #883f5a,
    380px 40px #fa9ecf, 390px 40px #883f5a, 400px 40px transparent,
    410px 40px transparent, 420px 40px transparent, 0px 50px transparent,
    10px 50px transparent, 20px 50px #883f5a, 30px 50px #fa9ecf,
    40px 50px #fa9ecf, 50px 50px #883f5a, 60px 50px #883f5a, 70px 50px #fa9ecf,
    80px 50px #fa9ecf, 90px 50px #883f5a, 100px 50px transparent,
    110px 50px transparent, 120px 50px transparent, 130px 50px #883f5a,
    140px 50px #fa9ecf, 150px 50px #3c3c3c, 160px 50px #883f5a,
    170px 50px #fa9ecf, 180px 50px #fa9ecf, 190px 50px #fa9ecf,
    200px 50px #fa9ecf, 210px 50px #883f5a, 220px 50px transparent,
    230px 50px transparent, 240px 50px transparent, 250px 50px transparent,
    260px 50px #883f5a, 270px 50px #fa9ecf, 280px 50px #fa9ecf,
    290px 50px #fa9ecf, 300px 50px #fa9ecf, 310px 50px #fa9ecf,
    320px 50px #fa9ecf, 330px 50px #883f5a, 340px 50px #fa9ecf,
    350px 50px #883f5a, 360px 50px #f1d5eb, 370px 50px #883f5a,
    380px 50px #fa9ecf, 390px 50px #883f5a, 400px 50px transparent,
    410px 50px transparent, 420px 50px transparent, 0px 60px transparent,
    10px 60px transparent, 20px 60px #883f5a, 30px 60px #fa9ecf,
    40px 60px #883f5a, 50px 60px #f1d5eb, 60px 60px #f1d5eb, 70px 60px #883f5a,
    80px 60px #fa9ecf, 90px 60px #883f5a, 100px 60px #883f5a,
    110px 60px transparent, 120px 60px #883f5a, 130px 60px #fa9ecf,
    140px 60px #fa9ecf, 150px 60px #883f5a, 160px 60px #fa9ecf,
    170px 60px #fa9ecf, 180px 60px #fa9ecf, 190px 60px #fa9ecf,
    200px 60px #fa9ecf, 210px 60px #fa9ecf, 220px 60px #883f5a,
    230px 60px #fa9ecf, 240px 60px #fa9ecf, 250px 60px #fa9ecf,
    260px 60px #883f5a, 270px 60px #883f5a, 280px 60px #883f5a,
    290px 60px #3c3c3c, 300px 60px #3c3c3c, 310px 60px #883f5a,
    320px 60px #883f5a, 330px 60px #883f5a, 340px 60px #fa9ecf,
    350px 60px #883f5a, 360px 60px #883f5a, 370px 60px #fa9ecf,
    380px 60px #fa9ecf, 390px 60px #883f5a, 400px 60px transparent,
    410px 60px transparent, 420px 60px transparent, 0px 70px transparent,
    10px 70px transparent, 20px 70px #883f5a, 30px 70px #fa9ecf,
    40px 70px #883f5a, 50px 70px #f1d5eb, 60px 70px #f1d5eb, 70px 70px #883f5a,
    80px 70px #fa9ecf, 90px 70px #883f5a, 100px 70px #fa9ecf, 110px 70px #883f5a,
    120px 70px #883f5a, 130px 70px #fa9ecf, 140px 70px #fa9ecf,
    150px 70px #883f5a, 160px 70px #883f5a, 170px 70px #883f5a,
    180px 70px #3c3c3c, 190px 70px #3c3c3c, 200px 70px #883f5a,
    210px 70px #883f5a, 220px 70px #883f5a, 230px 70px #fa9ecf,
    240px 70px #fa9ecf, 250px 70px #fa9ecf, 260px 70px #883f5a,
    270px 70px #f5ca2d, 280px 70px #f5ca2d, 290px 70px #3c3c3c,
    300px 70px #3c3c3c, 310px 70px #f5ca2d, 320px 70px #f5ca2d,
    330px 70px #883f5a, 340px 70px #fa9ecf, 350px 70px #fa9ecf,
    360px 70px #fa9ecf, 370px 70px #fa9ecf, 380px 70px #883f5a,
    390px 70px transparent, 400px 70px transparent, 410px 70px transparent,
    420px 70px transparent, 0px 80px transparent, 10px 80px transparent,
    20px 80px #883f5a, 30px 80px #fa9ecf, 40px 80px #fa9ecf, 50px 80px #883f5a,
    60px 80px #883f5a, 70px 80px #883f5a, 80px 80px #fa9ecf, 90px 80px #fa9ecf,
    100px 80px #fa9ecf, 110px 80px #fa9ecf, 120px 80px #fa9ecf,
    130px 80px #fa9ecf, 140px 80px #fa9ecf, 150px 80px #883f5a,
    160px 80px #f5ca2d, 170px 80px #f5ca2d, 180px 80px #3c3c3c,
    190px 80px #3c3c3c, 200px 80px #f5ca2d, 210px 80px #f5ca2d,
    220px 80px #883f5a, 230px 80px #fa9ecf, 240px 80px #fa9ecf,
    250px 80px #fa9ecf, 260px 80px #883f5a, 270px 80px #f5ca2d,
    280px 80px #f5ca2d, 290px 80px #f5ca2d, 300px 80px #f5ca2d,
    310px 80px #f5ca2d, 320px 80px #f5ca2d, 330px 80px #883f5a,
    340px 80px #fa9ecf, 350px 80px #fa9ecf, 360px 80px #fa9ecf,
    370px 80px #883f5a, 380px 80px transparent, 390px 80px transparent,
    400px 80px transparent, 410px 80px transparent, 420px 80px transparent,
    0px 90px transparent, 10px 90px transparent, 20px 90px transparent,
    30px 90px #883f5a, 40px 90px #fa9ecf, 50px 90px #fa9ecf, 60px 90px #fa9ecf,
    70px 90px #fa9ecf, 80px 90px #883f5a, 90px 90px #fa9ecf, 100px 90px #fa9ecf,
    110px 90px #fa9ecf, 120px 90px #fa9ecf, 130px 90px #fa9ecf,
    140px 90px #fa9ecf, 150px 90px #883f5a, 160px 90px #f5ca2d,
    170px 90px #f5ca2d, 180px 90px #f5ca2d, 190px 90px #f5ca2d,
    200px 90px #f5ca2d, 210px 90px #f5ca2d, 220px 90px #883f5a,
    230px 90px #fa9ecf, 240px 90px #fa9ecf, 250px 90px #fa9ecf,
    260px 90px #fa9ecf, 270px 90px #883f5a, 280px 90px #f5ca2d,
    290px 90px #f5ca2d, 300px 90px #f5ca2d, 310px 90px #f5ca2d,
    320px 90px #883f5a, 330px 90px #fa9ecf, 340px 90px #883f5a,
    350px 90px #883f5a, 360px 90px #883f5a, 370px 90px transparent,
    380px 90px transparent, 390px 90px transparent, 400px 90px transparent,
    410px 90px transparent, 420px 90px transparent, 0px 100px transparent,
    10px 100px transparent, 20px 100px transparent, 30px 100px transparent,
    40px 100px #883f5a, 50px 100px #fa9ecf, 60px 100px #883f5a,
    70px 100px #883f5a, 80px 100px #fa9ecf, 90px 100px #fa9ecf,
    100px 100px #fa9ecf, 110px 100px #fa9ecf, 120px 100px #fa9ecf,
    130px 100px #fa9ecf, 140px 100px #fa9ecf, 150px 100px #fa9ecf,
    160px 100px #883f5a, 170px 100px #f5ca2d, 180px 100px #f5ca2d,
    190px 100px #f5ca2d, 200px 100px #f5ca2d, 210px 100px #883f5a,
    220px 100px #fa9ecf, 230px 100px #fa9ecf, 240px 100px #fa9ecf,
    250px 100px #fa9ecf, 260px 100px #fa9ecf, 270px 100px #fa9ecf,
    280px 100px #883f5a, 290px 100px #883f5a, 300px 100px #883f5a,
    310px 100px #883f5a, 320px 100px #fa9ecf, 330px 100px #fa9ecf,
    340px 100px #fa9ecf, 350px 100px #fa9ecf, 360px 100px #883f5a,
    370px 100px transparent, 380px 100px transparent, 390px 100px transparent,
    400px 100px transparent, 410px 100px transparent, 420px 100px transparent,
    420px 100px transparent, 0px 110px transparent, 10px 110px transparent,
    20px 110px transparent, 30px 110px transparent, 40px 110px transparent,
    50px 110px #883f5a, 60px 110px #fa9ecf, 70px 110px #fa9ecf,
    80px 110px #fa9ecf, 90px 110px #fa9ecf, 100px 110px #fa9ecf,
    110px 110px #fa9ecf, 120px 110px #fa9ecf, 130px 110px #fa9ecf,
    140px 110px #fa9ecf, 150px 110px #fa9ecf, 160px 110px #fa9ecf,
    170px 110px #883f5a, 180px 110px #883f5a, 190px 110px #883f5a,
    200px 110px #883f5a, 210px 110px #fa9ecf, 220px 110px #fa9ecf,
    230px 110px #fa9ecf, 240px 110px #fa9ecf, 250px 110px #fa9ecf,
    260px 110px #fa9ecf, 270px 110px #fa9ecf, 280px 110px #883f5a,
    290px 110px #883f5a, 300px 110px #883f5a, 310px 110px #883f5a,
    320px 110px #883f5a, 330px 110px #883f5a, 340px 110px #883f5a,
    350px 110px #fa9ecf, 360px 110px #fa9ecf, 370px 110px #883f5a,
    380px 110px transparent, 390px 110px transparent, 400px 110px transparent,
    410px 110px transparent, 420px 110px transparent, 0px 120px transparent,
    10px 120px transparent, 20px 120px transparent, 30px 120px transparent,
    40px 120px transparent, 50px 120px transparent, 60px 120px #883f5a,
    70px 120px #fa9ecf, 80px 120px #fa9ecf, 90px 120px #fa9ecf,
    100px 120px #fa9ecf, 110px 120px #fa9ecf, 120px 120px #fa9ecf,
    130px 120px #fa9ecf, 140px 120px #fa9ecf, 150px 120px #fa9ecf,
    160px 120px #fa9ecf, 170px 120px #fa9ecf, 180px 120px #fa9ecf,
    190px 120px #fa9ecf, 200px 120px #fa9ecf, 210px 120px #fa9ecf,
    220px 120px #fa9ecf, 230px 120px #fa9ecf, 240px 120px #fa9ecf,
    250px 120px #fa9ecf, 260px 120px #883f5a, 270px 120px #883f5a,
    280px 120px #df579f, 290px 120px #df579f, 300px 120px #df579f,
    310px 120px #df579f, 320px 120px #df579f, 330px 120px #df579f,
    340px 120px #df579f, 350px 120px #883f5a, 360px 120px #883f5a,
    370px 120px #fa9ecf, 380px 120px #883f5a, 390px 120px transparent,
    400px 120px transparent, 410px 120px transparent, 420px 120px transparent,
    0px 130px transparent, 10px 130px transparent, 20px 130px transparent,
    30px 130px transparent, 40px 130px transparent, 50px 130px transparent,
    60px 130px #883f5a, 70px 130px #fa9ecf, 80px 130px #fa9ecf,
    90px 130px #fa9ecf, 100px 130px #fa9ecf, 110px 130px #fa9ecf,
    120px 130px #fa9ecf, 130px 130px #fa9ecf, 140px 130px #fa9ecf,
    150px 130px #fa9ecf, 160px 130px #fa9ecf, 170px 130px #fa9ecf,
    180px 130px #fa9ecf, 190px 130px #fa9ecf, 200px 130px #fa9ecf,
    210px 130px #fa9ecf, 220px 130px #fa9ecf, 230px 130px #883f5a,
    240px 130px #883f5a, 250px 130px #883f5a, 260px 130px #883f5a,
    270px 130px #df579f, 280px 130px #df579f, 290px 130px #df579f,
    300px 130px #df579f, 310px 130px #df579f, 320px 130px #df579f,
    330px 130px #df579f, 340px 130px #df579f, 350px 130px #df579f,
    360px 130px #883f5a, 370px 130px #883f5a, 380px 130px #883f5a,
    390px 130px transparent, 400px 130px transparent, 410px 130px transparent,
    420px 130px transparent, 0px 140px transparent, 10px 140px transparent,
    20px 140px transparent, 30px 140px transparent, 40px 140px transparent,
    50px 140px transparent, 60px 140px #883f5a, 70px 140px #fa9ecf,
    80px 140px #fa9ecf, 90px 140px #fa9ecf, 100px 140px #fa9ecf,
    110px 140px #fa9ecf, 120px 140px #fa9ecf, 130px 140px #fa9ecf,
    140px 140px #fa9ecf, 150px 140px #fa9ecf, 160px 140px #fa9ecf,
    170px 140px #883f5a, 180px 140px #fa9ecf, 190px 140px #fa9ecf,
    200px 140px #fa9ecf, 210px 140px #fa9ecf, 220px 140px #883f5a,
    230px 140px #f1d5eb, 240px 140px #f1d5eb, 250px 140px #f1d5eb,
    260px 140px #f1d5eb, 270px 140px #883f5a, 280px 140px #df579f,
    290px 140px #df579f, 300px 140px #df579f, 310px 140px #df579f,
    320px 140px #df579f, 330px 140px #df579f, 340px 140px #df579f,
    350px 140px #883f5a, 360px 140px #f1d5eb, 370px 140px #f1d5eb,
    380px 140px #f1d5eb, 390px 140px #883f5a, 400px 140px transparent,
    410px 140px transparent, 420px 140px transparent, 0px 150px transparent,
    10px 150px transparent, 20px 150px transparent, 30px 150px transparent,
    40px 150px transparent, 50px 150px transparent, 60px 150px #883f5a,
    70px 150px #fa9ecf, 80px 150px #fa9ecf, 90px 150px #fa9ecf,
    100px 150px #fa9ecf, 110px 150px #fa9ecf, 120px 150px #fa9ecf,
    130px 150px #883f5a, 140px 150px #fa9ecf, 150px 150px #fa9ecf,
    160px 150px #fa9ecf, 170px 150px #883f5a, 180px 150px #fa9ecf,
    190px 150px #fa9ecf, 200px 150px #fa9ecf, 210px 150px #883f5a,
    220px 150px #f1d5eb, 230px 150px #f1d5eb, 240px 150px #f1d5eb,
    250px 150px #f1d5eb, 260px 150px #f1d5eb, 270px 150px #f1d5eb,
    280px 150px #883f5a, 290px 150px #883f5a, 300px 150px #df579f,
    310px 150px #df579f, 320px 150px #df579f, 330px 150px #883f5a,
    340px 150px #883f5a, 350px 150px #f1d5eb, 360px 150px #f1d5eb,
    370px 150px #f1d5eb, 380px 150px #f1d5eb, 390px 150px #f1d5eb,
    400px 150px #883f5a, 410px 150px transparent, 420px 150px transparent,
    0px 160px transparent, 10px 160px transparent, 20px 160px transparent,
    30px 160px transparent, 40px 160px transparent, 50px 160px transparent,
    60px 160px #883f5a, 70px 160px #fa9ecf, 80px 160px #fa9ecf,
    90px 160px #fa9ecf, 100px 160px #fa9ecf, 110px 160px #fa9ecf,
    120px 160px #fa9ecf, 130px 160px #fa9ecf, 140px 160px #883f5a,
    150px 160px #883f5a, 160px 160px #883f5a, 170px 160px #fa9ecf,
    180px 160px #fa9ecf, 190px 160px #fa9ecf, 200px 160px #883f5a,
    210px 160px #f1d5eb, 220px 160px #f1d5eb, 230px 160px #f1d5eb,
    240px 160px #f1d5eb, 250px 160px #f1d5eb, 260px 160px #f1d5eb,
    270px 160px #f1d5eb, 280px 160px #f1d5eb, 290px 160px #f1d5eb,
    300px 160px #883f5a, 310px 160px #883f5a, 320px 160px #883f5a,
    330px 160px #f1d5eb, 340px 160px #f1d5eb, 350px 160px #f1d5eb,
    360px 160px #f1d5eb, 370px 160px #f1d5eb, 380px 160px #f1d5eb,
    390px 160px #f1d5eb, 400px 160px #883f5a, 410px 160px transparent,
    420px 160px transparent, 0px 170px transparent, 10px 170px transparent,
    20px 170px transparent, 30px 170px transparent, 40px 170px transparent,
    50px 170px transparent, 60px 170px transparent, 70px 170px #883f5a,
    80px 170px #fa9ecf, 90px 170px #fa9ecf, 100px 170px #fa9ecf,
    110px 170px #fa9ecf, 120px 170px #fa9ecf, 130px 170px #fa9ecf,
    140px 170px #fa9ecf, 150px 170px #fa9ecf, 160px 170px #883f5a,
    170px 170px #fa9ecf, 180px 170px #fa9ecf, 190px 170px #fa9ecf,
    200px 170px #883f5a, 210px 170px #f1d5eb, 220px 170px #f1d5eb,
    230px 170px #f1d5eb, 240px 170px #f1d5eb, 250px 170px #f1d5eb,
    260px 170px #f1d5eb, 270px 170px #f1d5eb, 280px 170px #f1d5eb,
    290px 170px #f1d5eb, 300px 170px #f1d5eb, 310px 170px #883f5a,
    320px 170px #f1d5eb, 330px 170px #f1d5eb, 340px 170px #f1d5eb,
    350px 170px #f1d5eb, 360px 170px #f1d5eb, 370px 170px #f1d5eb,
    380px 170px #f1d5eb, 390px 170px #f1d5eb, 400px 170px #883f5a,
    410px 170px transparent, 420px 170px transparent, 0px 180px transparent,
    10px 180px transparent, 20px 180px transparent, 30px 180px transparent,
    40px 180px transparent, 50px 180px transparent, 60px 180px transparent,
    70px 180px transparent, 80px 180px #883f5a, 90px 180px #fa9ecf,
    100px 180px #fa9ecf, 110px 180px #fa9ecf, 120px 180px #fa9ecf,
    130px 180px #fa9ecf, 140px 180px #fa9ecf, 150px 180px #fa9ecf,
    160px 180px #fa9ecf, 170px 180px #883f5a, 180px 180px #883f5a,
    190px 180px #fa9ecf, 200px 180px #883f5a, 210px 180px #f1d5eb,
    220px 180px #f1d5eb, 230px 180px #f1d5eb, 240px 180px #f1d5eb,
    250px 180px #f1d5eb, 260px 180px #f1d5eb, 270px 180px #f1d5eb,
    280px 180px #f1d5eb, 290px 180px #f1d5eb, 300px 180px #f1d5eb,
    310px 180px #883f5a, 320px 180px #f1d5eb, 330px 180px #f1d5eb,
    340px 180px #f1d5eb, 350px 180px #f1d5eb, 360px 180px #f1d5eb,
    370px 180px #f1d5eb, 380px 180px #f1d5eb, 390px 180px #883f5a,
    400px 180px transparent, 410px 180px transparent, 420px 180px transparent,
    0px 190px transparent, 10px 190px transparent, 20px 190px transparent,
    30px 190px transparent, 40px 190px transparent, 50px 190px transparent,
    60px 190px transparent, 70px 190px transparent, 80px 190px transparent,
    90px 190px #883f5a, 100px 190px #883f5a, 110px 190px #883f5a,
    120px 190px #883f5a, 130px 190px #883f5a, 140px 190px #fa9ecf,
    150px 190px #fa9ecf, 160px 190px #fa9ecf, 170px 190px #fa9ecf,
    180px 190px #fa9ecf, 190px 190px #883f5a, 200px 190px #883f5a,
    210px 190px #883f5a, 220px 190px #f1d5eb, 230px 190px #f1d5eb,
    240px 190px #f1d5eb, 250px 190px #f1d5eb, 260px 190px #f1d5eb,
    270px 190px #f1d5eb, 280px 190px #f1d5eb, 290px 190px #f1d5eb,
    300px 190px #883f5a, 310px 190px #883f5a, 320px 190px #883f5a,
    330px 190px #f1d5eb, 340px 190px #f1d5eb, 350px 190px #f1d5eb,
    360px 190px #f1d5eb, 370px 190px #f1d5eb, 380px 190px #883f5a,
    390px 190px transparent, 400px 190px transparent, 410px 190px transparent,
    420px 190px transparent, 0px 200px transparent, 10px 200px transparent,
    20px 200px transparent, 30px 200px transparent, 40px 200px transparent,
    50px 200px transparent, 60px 200px transparent, 70px 200px transparent,
    80px 200px transparent, 90px 200px transparent, 100px 200px transparent,
    110px 200px transparent, 120px 200px transparent, 130px 200px #883f5a,
    140px 200px #fa9ecf, 150px 200px #fa9ecf, 160px 200px #fa9ecf,
    170px 200px #fa9ecf, 180px 200px #fa9ecf, 190px 200px #fa9ecf,
    200px 200px #fa9ecf, 210px 200px #883f5a, 220px 200px #883f5a,
    230px 200px #f1d5eb, 240px 200px #f1d5eb, 250px 200px #f1d5eb,
    260px 200px #f1d5eb, 270px 200px #f1d5eb, 280px 200px #883f5a,
    290px 200px #883f5a, 300px 200px #f1d5eb, 310px 200px #f1d5eb,
    320px 200px #f1d5eb, 330px 200px #883f5a, 340px 200px #883f5a,
    350px 200px #883f5a, 360px 200px #883f5a, 370px 200px #883f5a,
    380px 200px transparent, 390px 200px transparent, 400px 200px transparent,
    410px 200px transparent, 420px 200px transparent, 0px 210px transparent,
    10px 210px transparent, 20px 210px transparent, 30px 210px transparent,
    40px 210px transparent, 50px 210px transparent, 60px 210px transparent,
    70px 210px transparent, 80px 210px transparent, 90px 210px transparent,
    100px 210px transparent, 110px 210px transparent, 120px 210px transparent,
    130px 210px transparent, 140px 210px #883f5a, 150px 210px #883f5a,
    160px 210px #fa9ecf, 170px 210px #fa9ecf, 180px 210px #fa9ecf,
    190px 210px #fa9ecf, 200px 210px #fa9ecf, 210px 210px #fa9ecf,
    220px 210px #fa9ecf, 230px 210px #883f5a, 240px 210px #883f5a,
    250px 210px #883f5a, 260px 210px #883f5a, 270px 210px #883f5a,
    280px 210px #f1d5eb, 290px 210px #f1d5eb, 300px 210px #f1d5eb,
    310px 210px #f1d5eb, 320px 210px #f1d5eb, 330px 210px #f1d5eb,
    340px 210px #f1d5eb, 350px 210px #883f5a, 360px 210px transparent,
    370px 210px transparent, 380px 210px transparent, 390px 210px transparent,
    400px 210px transparent, 410px 210px transparent, 420px 210px transparent,
    0px 220px transparent, 10px 220px transparent, 20px 220px transparent,
    30px 220px transparent, 40px 220px transparent, 50px 220px transparent,
    60px 220px transparent, 70px 220px transparent, 80px 220px transparent,
    90px 220px transparent, 100px 220px transparent, 110px 220px transparent,
    120px 220px transparent, 130px 220px transparent, 140px 220px transparent,
    150px 220px transparent, 160px 220px #883f5a, 170px 220px #fa9ecf,
    180px 220px #fa9ecf, 190px 220px #fa9ecf, 200px 220px #fa9ecf,
    210px 220px #fa9ecf, 220px 220px #fa9ecf, 230px 220px #883f5a,
    240px 220px #f1d5eb, 250px 220px #f1d5eb, 260px 220px #f1d5eb,
    270px 220px #f1d5eb, 280px 220px #f1d5eb, 290px 220px #f1d5eb,
    300px 220px #f1d5eb, 310px 220px #f1d5eb, 320px 220px #f1d5eb,
    330px 220px #f1d5eb, 340px 220px #883f5a, 350px 220px transparent,
    360px 220px transparent, 370px 220px transparent, 380px 220px transparent,
    390px 220px transparent, 400px 220px transparent, 410px 220px transparent,
    420px 220px transparent, 0px 230px transparent, 10px 230px transparent,
    20px 230px transparent, 30px 230px transparent, 40px 230px transparent,
    50px 230px transparent, 60px 230px transparent, 70px 230px transparent,
    80px 230px transparent, 90px 230px transparent, 100px 230px transparent,
    110px 230px transparent, 120px 230px transparent, 130px 230px transparent,
    140px 230px transparent, 150px 230px transparent, 160px 230px transparent,
    170px 230px #883f5a, 180px 230px #fa9ecf, 190px 230px #fa9ecf,
    200px 230px #fa9ecf, 210px 230px #fa9ecf, 220px 230px #fa9ecf,
    230px 230px #fa9ecf, 240px 230px #883f5a, 250px 230px #f1d5eb,
    260px 230px #f1d5eb, 270px 230px #f1d5eb, 280px 230px #f1d5eb,
    290px 230px #f1d5eb, 300px 230px #f1d5eb, 310px 230px #f1d5eb,
    320px 230px #f1d5eb, 330px 230px #f1d5eb, 340px 230px #883f5a,
    350px 230px transparent, 360px 230px transparent, 370px 230px transparent,
    380px 230px transparent, 390px 230px transparent, 400px 230px transparent,
    410px 230px transparent, 420px 230px transparent, 0px 240px transparent,
    10px 240px transparent, 20px 240px transparent, 30px 240px transparent,
    40px 240px transparent, 50px 240px transparent, 60px 240px transparent,
    70px 240px transparent, 80px 240px transparent, 90px 240px transparent,
    100px 240px transparent, 110px 240px transparent, 120px 240px transparent,
    130px 240px transparent, 140px 240px transparent, 150px 240px transparent,
    160px 240px transparent, 170px 240px #883f5a, 180px 240px #fa9ecf,
    190px 240px #fa9ecf, 200px 240px #fa9ecf, 210px 240px #fa9ecf,
    220px 240px #fa9ecf, 230px 240px #883f5a, 240px 240px #883f5a,
    250px 240px #f1d5eb, 260px 240px #f1d5eb, 270px 240px #f1d5eb,
    280px 240px #f1d5eb, 290px 240px #f1d5eb, 300px 240px #f1d5eb,
    310px 240px #f1d5eb, 320px 240px #f1d5eb, 330px 240px #883f5a,
    340px 240px transparent, 350px 240px transparent, 360px 240px transparent,
    370px 240px transparent, 380px 240px transparent, 390px 240px transparent,
    400px 240px transparent, 410px 240px transparent, 420px 240px transparent,
    0px 250px transparent, 10px 250px transparent, 20px 250px transparent,
    30px 250px transparent, 40px 250px transparent, 50px 250px transparent,
    60px 250px transparent, 70px 250px transparent, 80px 250px transparent,
    90px 250px transparent, 100px 250px transparent, 110px 250px transparent,
    120px 250px transparent, 130px 250px transparent, 140px 250px transparent,
    150px 250px transparent, 160px 250px transparent, 170px 250px #883f5a,
    180px 250px #fa9ecf, 190px 250px #fa9ecf, 200px 250px #fa9ecf,
    210px 250px #fa9ecf, 220px 250px #883f5a, 230px 250px transparent,
    240px 250px transparent, 250px 250px #883f5a, 260px 250px #883f5a,
    270px 250px #f1d5eb, 280px 250px #f1d5eb, 290px 250px #f1d5eb,
    300px 250px #f1d5eb, 310px 250px #f1d5eb, 320px 250px #883f5a,
    330px 250px transparent, 340px 250px transparent, 350px 250px transparent,
    360px 250px transparent, 370px 250px transparent, 380px 250px transparent,
    390px 250px transparent, 400px 250px transparent, 410px 250px transparent,
    420px 250px transparent, 0px 260px transparent, 10px 260px transparent,
    20px 260px transparent, 30px 260px transparent, 40px 260px transparent,
    50px 260px transparent, 60px 260px transparent, 70px 260px transparent,
    80px 260px transparent, 90px 260px transparent, 100px 260px transparent,
    110px 260px transparent, 120px 260px transparent, 130px 260px transparent,
    140px 260px transparent, 150px 260px transparent, 160px 260px transparent,
    170px 260px #883f5a, 180px 260px #fa9ecf, 190px 260px #fa9ecf,
    200px 260px #fa9ecf, 210px 260px #fa9ecf, 220px 260px #883f5a,
    230px 260px transparent, 240px 260px transparent, 250px 260px transparent,
    260px 260px transparent, 270px 260px #883f5a, 280px 260px #883f5a,
    290px 260px #883f5a, 300px 260px #883f5a, 310px 260px #883f5a,
    320px 260px transparent, 330px 260px transparent, 340px 260px transparent,
    350px 260px transparent, 360px 260px transparent, 370px 260px transparent,
    380px 260px transparent, 390px 260px transparent, 400px 260px transparent,
    410px 260px transparent, 420px 260px transparent, 0px 270px transparent,
    10px 270px transparent, 20px 270px transparent, 30px 270px transparent,
    40px 270px transparent, 50px 270px transparent, 60px 270px transparent,
    70px 270px transparent, 80px 270px transparent, 90px 270px transparent,
    100px 270px transparent, 110px 270px transparent, 120px 270px transparent,
    130px 270px transparent, 140px 270px transparent, 150px 270px transparent,
    160px 270px transparent, 170px 270px #883f5a, 180px 270px #fa9ecf,
    190px 270px #fa9ecf, 200px 270px #fa9ecf, 210px 270px #fa9ecf,
    220px 270px #883f5a, 230px 270px transparent, 240px 270px transparent,
    250px 270px transparent, 260px 270px transparent, 270px 270px transparent,
    280px 270px transparent, 290px 270px transparent, 300px 270px transparent,
    310px 270px transparent, 320px 270px transparent, 330px 270px transparent,
    340px 270px transparent, 350px 270px transparent, 360px 270px transparent,
    370px 270px transparent, 380px 270px transparent, 390px 270px transparent,
    400px 270px transparent, 410px 270px transparent, 420px 270px transparent,
    0px 280px transparent, 10px 280px transparent, 20px 280px transparent,
    30px 280px transparent, 40px 280px transparent, 50px 280px transparent,
    60px 280px transparent, 70px 280px transparent, 80px 280px transparent,
    90px 280px transparent, 100px 280px transparent, 110px 280px transparent,
    120px 280px transparent, 130px 280px transparent, 140px 280px #883f5a,
    150px 280px #883f5a, 160px 280px #883f5a, 170px 280px #883f5a,
    180px 280px #fa9ecf, 190px 280px #fa9ecf, 200px 280px #fa9ecf,
    210px 280px #fa9ecf, 220px 280px #883f5a, 230px 280px #883f5a,
    240px 280px #883f5a, 250px 280px transparent, 260px 280px transparent,
    270px 280px transparent, 280px 280px transparent, 290px 280px transparent,
    300px 280px transparent, 310px 280px transparent, 320px 280px transparent,
    330px 280px transparent, 340px 280px transparent, 350px 280px transparent,
    360px 280px transparent, 370px 280px transparent, 380px 280px transparent,
    390px 280px transparent, 400px 280px transparent, 410px 280px transparent,
    420px 280px transparent, 0px 290px transparent, 10px 290px transparent,
    20px 290px transparent, 30px 290px transparent, 40px 290px transparent,
    50px 290px transparent, 60px 290px transparent, 70px 290px transparent,
    80px 290px transparent, 90px 290px transparent, 100px 290px transparent,
    110px 290px transparent, 120px 290px transparent, 130px 290px #883f5a,
    140px 290px #fa9ecf, 150px 290px #fa9ecf, 160px 290px #fa9ecf,
    170px 290px #fa9ecf, 180px 290px #883f5a, 190px 290px #fa9ecf,
    200px 290px #fa9ecf, 210px 290px #fa9ecf, 220px 290px #883f5a,
    230px 290px #fa9ecf, 240px 290px #fa9ecf, 250px 290px #883f5a,
    260px 290px transparent, 270px 290px transparent, 280px 290px transparent,
    290px 290px transparent, 300px 290px transparent, 310px 290px transparent,
    320px 290px transparent, 330px 290px transparent, 340px 290px transparent,
    350px 290px transparent, 360px 290px transparent, 370px 290px transparent,
    380px 290px transparent, 390px 290px transparent, 400px 290px transparent,
    410px 290px transparent, 420px 290px transparent,
    0px 300px transparent, 10px 300px transparent,
    20px 300px transparent, 30px 300px transparent, 40px 300px transparent,
    50px 300px transparent, 60px 300px transparent, 70px 300px transparent,
    80px 300px transparent, 90px 300px transparent, 100px 300px transparent,
    110px 300px transparent, 120px 300px #883f5a, 130px 300px #fa9ecf,
    140px 300px #fa9ecf, 150px 300px #fa9ecf, 160px 300px #fa9ecf,
    170px 300px #fa9ecf, 180px 300px #fa9ecf, 190px 300px #fa9ecf,
    200px 300px #fa9ecf, 210px 300px #fa9ecf, 220px 300px #fa9ecf,
    230px 300px #fa9ecf, 240px 300px #fa9ecf, 250px 300px #fa9ecf,
    260px 300px #883f5a, 270px 300px transparent, 280px 300px transparent,
    290px 300px transparent, 300px 300px transparent, 310px 300px transparent,
    320px 300px transparent, 330px 300px transparent, 340px 300px transparent,
    350px 300px transparent, 360px 300px transparent, 370px 300px transparent,
    380px 300px transparent, 390px 300px transparent, 400px 300px transparent,
    410px 300px transparent, 420px 300px transparent, 0px 310px transparent,
    10px 310px transparent, 20px 310px transparent, 30px 310px transparent,
    40px 310px transparent, 50px 310px transparent, 60px 310px transparent,
    70px 310px transparent, 80px 310px transparent, 90px 310px transparent,
    100px 310px transparent, 110px 310px #883f5a, 120px 310px #fa9ecf,
    130px 310px #fa9ecf, 140px 310px #fa9ecf, 150px 310px #fa9ecf,
    160px 310px #fa9ecf, 170px 310px #fa9ecf, 180px 310px #fa9ecf,
    190px 310px #fa9ecf, 200px 310px #fa9ecf, 210px 310px #fa9ecf,
    220px 310px #fa9ecf, 230px 310px #fa9ecf, 240px 310px #fa9ecf,
    250px 310px #fa9ecf, 260px 310px #883f5a, 270px 310px transparent,
    280px 310px transparent, 290px 310px transparent, 300px 310px transparent,
    310px 310px transparent, 320px 310px transparent, 330px 310px transparent,
    340px 310px transparent, 350px 310px transparent, 360px 310px transparent,
    370px 310px transparent, 380px 310px transparent, 390px 310px transparent,
    400px 310px transparent, 410px 310px transparent, 420px 310px transparent,
    0px 320px transparent, 10px 320px transparent, 20px 320px transparent,
    30px 320px transparent, 40px 320px transparent, 50px 320px transparent,
    60px 320px transparent, 70px 320px transparent, 80px 320px transparent,
    90px 320px transparent, 100px 320px transparent, 110px 320px #883f5a,
    120px 320px #fa9ecf, 130px 320px #fa9ecf, 140px 320px #fa9ecf,
    150px 320px #fa9ecf, 160px 320px #fa9ecf, 170px 320px #fa9ecf,
    180px 320px #fa9ecf, 190px 320px #fa9ecf, 200px 320px #fa9ecf,
    210px 320px #883f5a, 220px 320px #883f5a, 230px 320px #883f5a,
    240px 320px #fa9ecf, 250px 320px #fa9ecf, 260px 320px #883f5a,
    270px 320px transparent, 280px 320px transparent, 290px 320px transparent,
    300px 320px transparent, 310px 320px transparent, 320px 320px transparent,
    330px 320px transparent, 340px 320px transparent, 350px 320px transparent,
    360px 320px transparent, 370px 320px transparent, 380px 320px transparent,
    390px 320px transparent, 400px 320px transparent, 410px 320px transparent,
    420px 320px transparent, 0px 330px transparent, 10px 330px transparent,
    20px 330px transparent, 30px 330px transparent, 40px 330px transparent,
    50px 330px transparent, 60px 330px transparent, 70px 330px transparent,
    80px 330px transparent, 90px 330px transparent, 100px 330px #883f5a,
    110px 330px #fa9ecf, 120px 330px #fa9ecf, 130px 330px #fa9ecf,
    140px 330px #fa9ecf, 150px 330px #fa9ecf, 160px 330px #fa9ecf,
    170px 330px #fa9ecf, 180px 330px #fa9ecf, 190px 330px #fa9ecf,
    200px 330px #883f5a, 210px 330px #f1d5eb, 220px 330px #f1d5eb,
    230px 330px #883f5a, 240px 330px #fa9ecf, 250px 330px #fa9ecf,
    260px 330px #fa9ecf, 270px 330px #883f5a, 280px 330px transparent,
    290px 330px transparent, 300px 330px transparent, 310px 330px transparent,
    320px 330px transparent, 330px 330px transparent, 340px 330px transparent,
    350px 330px transparent, 360px 330px transparent, 370px 330px transparent,
    380px 330px transparent, 390px 330px transparent, 400px 330px transparent,
    410px 330px transparent, 420px 330px transparent, 0px 340px transparent,
    10px 340px transparent, 20px 340px transparent, 30px 340px transparent,
    40px 340px transparent, 50px 340px transparent, 60px 340px transparent,
    70px 340px transparent, 80px 340px transparent, 90px 340px #883f5a,
    100px 340px #fa9ecf, 110px 340px #fa9ecf, 120px 340px #fa9ecf,
    130px 340px #fa9ecf, 140px 340px #fa9ecf, 150px 340px #883f5a,
    160px 340px #fa9ecf, 170px 340px #fa9ecf, 180px 340px #fa9ecf,
    190px 340px #fa9ecf, 200px 340px #883f5a, 210px 340px #f1d5eb,
    220px 340px #f1d5eb, 230px 340px #f1d5eb, 240px 340px #883f5a,
    250px 340px #fa9ecf, 260px 340px #fa9ecf, 270px 340px #883f5a,
    280px 340px transparent, 290px 340px transparent, 300px 340px transparent,
    310px 340px transparent, 320px 340px transparent, 330px 340px transparent,
    340px 340px transparent, 350px 340px transparent, 360px 340px transparent,
    370px 340px transparent, 380px 340px transparent, 390px 340px transparent,
    400px 340px transparent, 410px 340px transparent, 420px 340px transparent,
    0px 350px transparent, 10px 350px transparent, 20px 350px transparent,
    30px 350px transparent, 40px 350px transparent, 50px 350px transparent,
    60px 350px transparent, 70px 350px transparent, 80px 350px #883f5a,
    90px 350px #fa9ecf, 100px 350px #fa9ecf, 110px 350px #fa9ecf,
    120px 350px #fa9ecf, 130px 350px #fa9ecf, 140px 350px #883f5a,
    150px 350px #fa9ecf, 160px 350px #fa9ecf, 170px 350px #fa9ecf,
    180px 350px #fa9ecf, 190px 350px #883f5a, 200px 350px #f1d5eb,
    210px 350px #f1d5eb, 220px 350px #f1d5eb, 230px 350px #f1d5eb,
    240px 350px #883f5a, 250px 350px #fa9ecf, 260px 350px #fa9ecf,
    270px 350px #883f5a, 280px 350px transparent, 290px 350px transparent,
    300px 350px transparent, 310px 350px transparent, 320px 350px transparent,
    330px 350px transparent, 340px 350px transparent, 350px 350px transparent,
    360px 350px transparent, 370px 350px transparent, 380px 350px transparent,
    390px 350px transparent, 400px 350px transparent, 410px 350px transparent,
    420px 350px transparent, 0px 360px transparent, 10px 360px transparent,
    20px 360px transparent, 30px 360px transparent, 40px 360px transparent,
    50px 360px transparent, 60px 360px transparent, 70px 360px transparent,
    80px 360px #883f5a, 90px 360px #fa9ecf, 100px 360px #fa9ecf,
    110px 360px #fa9ecf, 120px 360px #fa9ecf, 130px 360px #fa9ecf,
    140px 360px #883f5a, 150px 360px #fa9ecf, 160px 360px #fa9ecf,
    170px 360px #fa9ecf, 180px 360px #fa9ecf, 190px 360px #883f5a,
    200px 360px #f1d5eb, 210px 360px #f1d5eb, 220px 360px #f1d5eb,
    230px 360px #f1d5eb, 240px 360px #883f5a, 250px 360px #fa9ecf,
    260px 360px #fa9ecf, 270px 360px #883f5a, 280px 360px transparent,
    290px 360px transparent, 300px 360px transparent, 310px 360px transparent,
    320px 360px transparent, 330px 360px transparent, 340px 360px transparent,
    350px 360px transparent, 360px 360px transparent, 370px 360px transparent,
    380px 360px transparent, 390px 360px transparent, 400px 360px transparent,
    410px 360px transparent, 420px 360px transparent;

    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    filter: drop-shadow(8px 8px 10px #0002);
    transition: transform 0.5s;
    animation: up_and_down 1s ease-in-out infinite alternate;
}
